{% extends 'students/base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h4 class="mb-4">Student Detail</h4>

        <p><strong>Name:</strong> {{ student.name }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>

        <a href="{% url 'student_update' student.id %}" class="btn btn-warning">
            Edit
        </a>
        <a href="{% url 'student_list' %}" class="btn btn-secondary">
            Back
        </a>
    </div>
</div>
{% endblock %}